<%- include('../compartido/menu/menu-component') %>
<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<% if(error != undefined) { %>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            Mensaje: <%= error %>
        </div>
    </div>
<% } %>

<div class="container">
    <h1>PANTALLA DE INICIO</h1>
    <h2>Your Ticket</h2>
    <img src="https://image.freepik.com/vector-gratis/plantilla-moderna-cupon-o-vale_23-2147945687.jpg"
         alt="Imagen principal">
</div>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>