<%- include('../compartido/menu/menu-component') %>
<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<div class="container">
    <h1>PANTALLA DE INICIO</h1>
</div>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>