<div>
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/inicio">Inicio</a>
        </li>
        <li>
            <a href="/cuponesGuardados">Cupones Guardados</a>
        </li>
        <li>
            <a href="/establecimiento/principal">Establecimientos</a>
        </li>
        <li>
            <a href="/cupon/principal">Cupones</a>
        </li>
        <li>
            <a href="/usuario/principal">Usuario</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div>