<!-- Unordered List -->
<ul>
    <!-- List Item -->
    <li>
        <!-- Anchor (ancla) -->
        <a href="/inicio">Inicio</a>
    </li>
    <li>
        <a href="">Cupones Guardados</a>
    </li>
    <li>
        <a href="">Establecimientos</a>
    </li>
    <li>
        <a href="/cupon/principal">Cupones</a>
    </li>
    <li>
        <a href="">Usuario</a>
    </li>
</ul>